<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.or//DYD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.mapper.UserMapper">
  <resultMap type="User" id="userResultMap">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="sex" column="sex"/>
    <result property="age" column="age"/>
  </resultMap>
  
  <select id="selectLogin" parameterType="User" resultMap="userResultMap">
    select * 
    from user 
    where username=#{username} and password=#{password}
  </select>
  
  <select id="selectAllUser" resultMap="userResultMap">
    select * from user
  </select> 
  
  <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
      insert 
      into user(username,password,sex,age)
      values(#{username},#{password},#{sex},#{age})
  </insert>
  
  <update id="updateUser" parameterType="User">
       update user set
       username=#{username},password=#{password},sex=#{sex},age=#{age}
       where id=#{id}
  </update>
       
  <delete id="deleteUser" parameterType="int">
      delete from user where
      id=#{id}
  </delete>          
</mapper>